
body, html {
  margin: 0;
  padding: 0;
}

:root {
  --darkshade: #171D1D;
  --lightshade: #CDDEDE;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--darkshade);
  color: var(--lightshade);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.header {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
}

.menu-container {
  display: flex;
  justify-content: center;

}

.books {
  min-height: 70%;
  width: min(90%, 900px);

  margin-top: 50px;

  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, max(30%,250px));
  gap: 30px;
  
  justify-content: center;
}

.books > div {
  border: 1px solid red;
  background-color: ;
}

.footer {
  width: 100%;
  height: 50px;
  
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkshade);
}